
.axis {
  font: 10px sans-serif;
}
.session-data-section{
  display:inline-block;
  width: calc(200%/3);
  .session-box{
    width:calc(100%/3 - 40px);
    margin:20px;
    border:1px solid blue;
    height:50px;
  }
}

.area{
  fill:steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.x{
  .tick:first-child{
    display:none;
  }
  .tick:nth-child(odd){
    text{
      display:none;
    }
  }
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}
